.fc.fc-unthemed.fc-ltr
  .addCalendarHeader Nuevo Calendario
  br
  form
    .addCalendarTableRow
      .addCalendarTableCell
        label(for="calendarName") Nombre Calendario
    .addCalendarTableRow
      .addCalendarTableCell
        .eventInputCell
          input(type="text" name="calendarName" ng-model='calendarName')

  button.fc-button(type="button" ng-click="closeThisDialog(calendarName)") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
