.fc.fc-unthemed.fc-ltr
  .addEventHeader Nuevo Evento
  form
    .addEventTableRow
      .addEventTableCell
        label(for="calendarName") Evento &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        .eventInputCell
          input(type="text" name="evento" ng-model='event.title' required)
    .addEventTableRow
      .addEventTableCell
        label(for="inicioEvento") Inicio &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="date" name="inicioEvento" ng-model='event.start' required)
    .addEventTableRow
      .addEventTableCell
        label(for="finEvento") Fin &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="date" name="finEvento" ng-model='event.end' required)
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(event)") Guardar
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
