.fc.fc-unthemed.fc-ltr
  .addShiftHeader Nuevo Turno
  br
  form
    .addShiftTableRow
      .addShiftTableCell
        label(for="shiftName") Nombre
      .addShiftTableCell
        .eventInputCell
          input(type="text" name="shiftName" ng-model='shift.name')
    .addShiftTableRow
      .addShiftTableCell
        label(for="shiftColor") Color Turno
      .addShiftTableCell
        .divColorPicker
          color-picker(ng-model='shift.color' options="shiftColorOptions")

  button.fc-button(type="button" ng-click="closeThisDialog(shift)") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
