div.divCalendarMenu
    form.formCalendarMenu(name="menuForm")
      select.selectCalendar(ng-options="value.id as value.name for (key,value) in CalendarMenuCtrl.calendars"
                            ng-model="CalendarMenuCtrl.calendarSelected"
                            ng-change="CalendarMenuCtrl.switchCalendar()")
      button(type="button"  name="addCalendar" ng-click="CalendarMenuCtrl.addCalendar()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-calendar-plus-o
      button(type="button"  name="addEvent" ng-click="CalendarMenuCtrl.addEvent()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-plus-square
      select.selectShift(ng-options="value.id as value.name for (key,value) in CalendarMenuCtrl.shifts"
                         ng-model="CalendarMenuCtrl.shiftSelected"
                         ng-change="CalendarMenuCtrl.switchShift()")
      button(type="button"  name="addShift" ng-click="CalendarMenuCtrl.addShift()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-plus-circle
      button(type="button"  name="addShift" ng-click="CalendarMenuCtrl.exportImage()").calendarMenuButton
        .calendar-menu--icon
          i.fa.fa-file-image-o
