.addEventTableCell, .addCalendarTableCell, .addShiftTableCell {
  display: table-cell; }

.addEventTableRow, .addCalendarTableRow, .addShiftTableRow {
  display: table-row; }

.addEventHeader, .addCalendarHeader, .addShiftHeader {
  font-size: 1em; }

.divCalendarMenu {
  display: flex;
  flex-direction: row;
  height: 35px; }

.divColorPicker {
  padding-left: 10px; }

.eventInputCell {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.formCalendarMenu {
  display: flex;
  flex-direction: row;
  width: 100%; }

.selectCalendar {
  background-color: #8ebebc;
  font-size: 1em;
  color: black;
  padding: 0; }

.selectShift {
  background-color: #8ebebc;
  font-size: 1em;
  color: black;
  padding: 0; }

.calendarMenuButton, .roundedButtonLeft, .roundedButtonRight {
  background-color: #8ebebc;
  margin-right: 5px;
  margin-left: 5px; }

.calendar-menu--icon {
  font-size: 18px; }

.roundedButtonLeft {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

.roundedButtonRight {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.fc button {
  color: black !important;
  font-size: 0.8em !important; }

/*# sourceMappingURL=calendarMenu.css.map */
