@import url(../restore/restoreWidget.css);
@import url(../gestion/gestionWidget.css);
.mainView {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row; }

.divLeft {
  background-color: darkblue;
  color: white;
  width: 150px;
  opacity: 0.7; }

.divCalendar {
  width: 100%; }

.side-menu {
  display: flex;
  flex-direction: column; }

.calendarName {
  padding-left: 10px; }

.divBackup {
  width: 100%;
  text-align: center; }

.divImport {
  width: 100%;
  text-align: center; }

.divSave {
  width: 100%;
  text-align: center; }

.divRestoreBackup {
  width: 100%;
  text-align: center; }

.divGestionMenu {
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
