.mainView(ng-controller="MainViewController as MainViewCtrl")
  .divCalendar(ng-if='view==="Calendario"')
    calendar-menu
    br
    calendar-widget
    br
    hr
  .divGestionMenu(ng-if='view==="Gestion"')
    gestion-widget
  .divShare(ng-if='view==="Compartir"')
    header This is share menu
  .divImport(ng-if='view==="Importar"')
    import-widget
  .divSave(ng-if='view==="Exportar"')
    export-widget
  .divBackup(ng-if='view==="Backup"')
    backup-widget
  .divRestoreBackup(ng-if='view==="Restaurar Backup"')
    restore-widget
