.restoreConfirmDialog
  h3 Restaurar Backup
  form.fc-button-group
    br
    span Desea restaurar el backup seleccionado? Esta operacion borrara toda la informacion de calendarios, turnos y eventos actual.
    br
    br
    button.fc-button(type="button" ng-click="confirm()") Restaurar
    button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
