.restoreWidgetDialog
  form
    span Seleccione Fichero
    br
    br
    input.inputRestoreFile(type="file" fileread="RestoreWidgetCtrl.getFile($fileContent)")
    br
    br
    button(type="button" ng-click="RestoreWidgetCtrl.showRestoreConfirm()") Restaurar
