<div class="restoreWidgetDialog"><form><span>Seleccione Fichero</span><br/><br/><input type="file" fileread="RestoreWidgetCtrl.getFile($fileContent)" class="inputRestoreFile"/><br/><br/><button type="button" ng-click="RestoreWidgetCtrl.showRestoreConfirm()">Restaurar</button></form></div>