.exportWidget
  .formExportWidget
    form
      span Seleccione Calendario
      br
      label(for="selectCalendar")
      select.selectShift(ng-options="value.id as value.name for (key,value) in ExportWidgetCtrl.calendars"
                         ng-model="ExportWidgetCtrl.calendarSelectedId"
                         ng-change="ExportWidgetCtrl.changeExportFilename()"
      )
      br
      span Seleccione Formato
      br
      label(for="selectExport")
      select.selectShift(ng-options="value.id as value.label for (key,value) in ExportWidgetCtrl.exportOptions"
                         ng-model="ExportWidgetCtrl.formatSelectedId"
                         ng-change="ExportWidgetCtrl.changeExportFilename()"
                         )
      br
      span Nombre del Fichero
      br
      input(ng-model="ExportWidgetCtrl.exportFilename")
      br
      br
      button(type="button" ng-click="ExportWidgetCtrl.exportCalendar()") Guardar
