.importWidget
  .formImportWidget
    form
      span Seleccione Fichero
      br
      br
      input.inputImportFile(type="file" fileread="ImportWidgetCtrl.getFile($fileContent)")
      br
      br
      button(type="button" ng-click="ImportWidgetCtrl.importFile()") Importar
