.fc.fc-unthemed.fc-ltr
  h3 Importar Calendarios
  form.fc-button-group
    br
    span Ya existe un calendario con el nombre {{calendarFoundName}}
    br
    span Desea sobreescribir el calendario existente?
    br
    button.fc-button(type="button" ng-click="confirm()") Sobreescribir
    button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
