<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html ng-app="calendar" ng-init="view='Calendario'">
	<head>
		<title>Calendar App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lte IE 8]><script src="./assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="./assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="./assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="./assets/css/ie9.css" /><![endif]-->

    <link rel="stylesheet" href="./app/main/main.css" />
    <link rel="stylesheet" href="./app/calendar/calendar.css" />
    <link rel="stylesheet" href="./app/calendar-menu/calendarMenu.css" />
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" href="../bower_components/animate.css/animate.css" />
    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-color-picker/dist/angularjs-color-picker.min.css" />
    <!-- only include if you use bootstrap -->
    <link rel="stylesheet" href="../bower_components/angular-color-picker/dist/themes/angularjs-color-picker-bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/angular-ui-grid/ui-grid.min.css" />

  </head>
	<body>

		<!-- Header -->
			<div id="header" >

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="./images/avatar.jpg" alt="" /></span>
							<h1 id="title">Calendar UGT</h1>
							<p>Calendario de Turnos 2017</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<!--

								Prologue's nav expects links in one of two formats:

								1. Hash link (scrolls to a different section within the page)

								   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

								2. Standard link (sends the user to another page/site)

								   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

							-->
							<ul>
                <li ng-click="view='Calendario'"><a href="#calendario" id="calendario-link" class="skel-layers-ignoreHref"><span class="icon fa-calendar">Calendario</span></a></li>
								<li ng-click="view='Gestion'"><a href="#gestion" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-plus-circle">Gestion</span></a></li>
								<li ng-click="view='Compartir'"><a href="#compartir" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-share-alt">Compartir</span></a></li>
								<li ng-click="view='Importar'"><a href="#importar" id="importar-link" class="skel-layers-ignoreHref"><span class="icon fa-arrow-up">Importar</span></a></li>
                <li ng-click="view='Exportar'"><a href="#exportar" id="exportar-link" class="skel-layers-ignoreHref"><span class="icon fa-save">Exportar</span></a></li>
                <li ng-click="view='Backup'"><a href="#backup" id="backup-link" class="skel-layers-ignoreHref"><span class="icon fa-download">Backup Completo</span></a></li>
                <li ng-click="view='Restaurar Backup'"><a href="#restaurar" id="restaurar-link" class="skel-layers-ignoreHref"><span class="icon fa-upload">Restaurar Backup</span></a></li>

              </ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro
					<section id="inicio" class="one dark cover" style="height: 1000px" ng-show="view=='Inicio'">
						<div class="container">

							<header>
								<h2 class="container"><strong>Calendar</strong> app.</h2>
								<p>Calendario de UGT</p>
							</header>

							<footer>
								<a href="#calendario" ng-click="view='Calendario'" class="button scrolly">Ver Calendario</a href="#calendario">
              </footer>

						</div>
					</section>
          ->

        <!-- Portfolio -->
          <section id="calendario" class="two" ng-show="view!='Inicio'">

            <header>
              <h2>{{view}}</h2>
            </header>

            <div class="container" ng-view>
            </div>
          </section>

      </div>

		<!-- Scripts -->
      <script src="./assets/js/lodash.min.js"></script>

			<script src="./assets/js/jquery.min.js"></script>
			<script src="./assets/js/jquery.scrolly.min.js"></script>
			<script src="./assets/js/jquery.scrollzer.min.js"></script>
			<script src="./assets/js/skel.min.js"></script>
			<script src="./assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="./assets/js/main.js"></script>
      <script src="./assets/js/html2canvas/html2canvas.min.js"></script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/malarkey/dist/malarkey.min.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="../bower_components/fullcalendar/dist/locale/es.js"></script>
    <script src="../bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="../bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script src="../bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="../bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>
    <script src="../bower_components/angular-ui-grid/ui-grid.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->



    <script src="./app/index.module.js"></script>

    <script src="./app/index.route.js"></script>

    <script src="./app/main/main.controller.js"></script>

    <script src="./app/calendar-menu/calendarMenu.controller.js"></script>

    <script src="./app/calendar-menu/calendarMenu.directive.js"></script>

    <script src="./app/backup/backupWidget.controller.js"></script>

    <script src="./app/backup/backupWidget.directive.js"></script>

    <script src="./app/export/exportWidget.controller.js"></script>

    <script src="./app/export/exportWidget.directive.js"></script>

    <script src="./app/export/export.service.js"></script>

    <script src="./app/import/importWidget.controller.js"></script>

    <script src="./app/import/importWidget.directive.js"></script>

    <script src="./app/restore/restoreWidget.controller.js"></script>

    <script src="./app/restore/restoreWidget.directive.js"></script>

    <script src="./app/fileread/fileread.directive.js"></script>

    <script src="./app/calendar/calendar.controller.js"></script>

    <script src="./app/calendar/calendar.directive.js"></script>

    <script src="./app/calendar/calendar.service.js"></script>

    <script src="./app/lodash/lodash.service.js"></script>

    <script src="./app/gestion/gestionWidget.controller.js"></script>

    <script src="./app/gestion/gestionWidget.directive.js"></script>

  </body>
</html>
