.backupWidget
  .formBackupWidget
    form
      span Nombre del Fichero
      br
      br
      input(ng-model="BackupWidgetCtrl.backupFilename")
      br
      br
      button(type="button" ng-click="BackupWidgetCtrl.backup()") Guardar
