<div class="backupWidget"><div class="formBackupWidget"><form><span>Nombre del Fichero</span><br/><br/><input ng-model="BackupWidgetCtrl.backupFilename"/><br/><br/><button type="button" ng-click="BackupWidgetCtrl.backup()">Guardar</button></form></div></div>