.fc.fc-unthemed.fc-ltr
  .addEventHeader Editar Evento
  form
    .addEventTableRow
      .addEventTableCell
        label(for="calendarName") Evento &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        .eventInputCell
          input(type="text" name="evento" ng-model='editEvent.title' required)
    .addEventTableRow
      .addEventTableCell
        label(for="inicioEvento") Inicio &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="datetime" name="inicioEvento" ng-model='editEvent.start' required)
    .addEventTableRow
      .addEventTableCell
        label(for="finEvento") Fin &nbsp;&nbsp;&nbsp;
      .addEventTableCell
        input(type="datetime" name="finEvento" ng-model='editEvent.end' required)
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(editEvent)") Guardar
    button.calendarMenuButton.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
