<div class="deleteCalendarDialog"><span>¿Desea borrar el calendario {{deleteCalendarName}}?</span><br/><button type="button" ng-click="closeThisDialog(true)" class="fc-button">Borrar</button><button type="button" ng-click="closeThisDialog(false)" class="fc-button">Cancelar</button></div>