.deleteCalendarDialog
  span ¿Desea borrar el calendario {{deleteCalendarName}}?
  br
  button.fc-button(type="button" ng-click="closeThisDialog(true)") Borrar
  button.fc-button(type="button" ng-click="closeThisDialog(false)") Cancelar
