.deleteShiftDialog
  span Desea borrar el turno {{deleteShiftName}}... ?
  br
  button.fc-button(type="button" ng-click="closeThisDialog(true)") Borrar
  button.fc-button(type="button" ng-click="closeThisDialog(false)") Cancelar
