<div class="deleteShiftDialog"><span>Desea borrar el turno {{deleteShiftName}}... ?</span><br/><button type="button" ng-click="closeThisDialog(true)" class="fc-button">Borrar</button><button type="button" ng-click="closeThisDialog(false)" class="fc-button">Cancelar</button></div>