.editCalendarDialog
  .editCalendarHeader Editar Calendario
  br
  form
    .editCalendarTableRow
      .editCalendarTableCell
        label(for="calendarName") Nombre Calendario
    .editCalendarTableRow
      .editCalendarTableCell
        .eventInputCell
          input(type="text" name="editCalendarName" ng-model='editCalendarName')

  button.fc-button(type="button" ng-click="closeThisDialog(editCalendarName)") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
