.editShiftDialog
  .editShiftHeader Editar Turno
  br
  form
    .editShiftTableRow
      .editShiftTableCell
        label(for="shiftName") Nombre
      .editShiftTableCell
        .eventInputCell
          input(type="text" name="editShiftName" ng-model='editShiftName')
    .editShiftTableRow
      .editShiftTableCell
        label(for="shiftColor") Color Turno
      .editShiftTableCell
        .divColorPicker
          color-picker(ng-model='editShiftColor' options="shiftColorOptions")

  button.fc-button(type="button" ng-click="closeThisDialog({'editShiftName':editShiftName, 'editShiftColor': editShiftColor})") Guardar
  button.fc-button(type="button" ng-click="closeThisDialog(null)") Cancelar
