.gestionView
  h2 Calendarios
  .calendarGrid(ng-model="GestionWidgetCtrl.calendarGrid" ui-grid="GestionWidgetCtrl.calendarGridOptions")
  br
  h2 Turnos
  .shiftGrid(ng-model="GestionWidgetCtrl.shiftGrid" ui-grid="GestionWidgetCtrl.shiftGridOptions")
  br
  h2 Gestion de Turnos
  .shiftManagementGrid(ng-model="GestionWidgetCtrl.shiftManagementGrid" ui-grid="GestionWidgetCtrl.managementGridOptions" ui-grid-grouping)
