.shiftGrid {
  width: 100%;
  max-height: 33%;

  .ui-grid-cell {
    height: 50px !important;
  }

}

.calendarGrid {
  width: 100%;
  max-height: 33%;

  .ui-grid-cell {
    height: 50px !important;
  }
}

.shiftManagementGrid {
  width: 100%;
  max-height: 33%;

}

.deleteShiftDialog, .deleteCalendarDialog {
  text-align: center;
}
